html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    background: #24282b;
}

.sidebar {
    box-sizing: border-box;
    width: 340px;
    color: white;
    padding: 10px;
    transition: width ease 0.3s;
    overflow: auto;
    background: rgb(50,29,85);
    background: linear-gradient(328deg, rgba(50,29,85,1) 0%, rgba(56,35,68,1) 100%);    
}

.sidebar-heading {
    margin: 0;
    text-align: center;
}

.sidebar-icon {
    display: block;
    margin: 0 auto;
}

.filter-input {
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    border-radius: 2px;
    border: none;
    padding: 10px 5px;
    font-size: 22px;
}

.location-list {
    list-style: none;
    padding: 0;
    margin: 30px 0;
}

.location-icon {
    height: 22px;
    float: left;
    margin: 15px 15px 15px 0;
    transition: margin linear 0.1s;
}

.location {
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    border-bottom: 1px solid white;
    cursor: pointer;
    overflow: hidden;
}

.poi-icon {
    height: 16px;
}

.poi {
    height: 40px;
    font-size: 14px;
    color: #9282a9;
}

.location:hover .location-icon {
    margin-right: 30px;
}

#map {
    height: 100%;
    flex: 1;
}

.powered-by {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.fs-pb {
    font-weight: bold;
    color: #0732a2;
    text-transform: uppercase;
    font-size: 15px;
    padding:5px;
    background: white;
    margin: 0 5px;
}

.loading {
    text-align: center;
    font-size: 20px;
    color: #ac97c7;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 900px) {
    body {
        display: block;
    }

    .sidebar {
        width: 100%;
    }

    .location-list,
    .sidebar-heading,
    .powered-by {
        display: none;
    }

    .sidebar-icon {
        width: 30px;
    }

    .filter-input {
        font-size: 18px;
    }
}